@import '/src/styles/theme';

.authentication-card {
    width: 30%;
    margin: 0 auto;
}

.authentication-card-container {
    min-height: 100vh;
}

.authentication-card-container {
    min-height: 100vh;
}

.mdc-card {
    @include green-background;
}

.mat-mdc-card-title {
    color: #fff;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    @include purple-background;
}

.mat-mdc-raised-button.mat-primary {
    @include purple-background;
}