@use '@angular/material' as mat;

.authentication-card {
    width: 30%;
    margin: 0 auto;
}

.authentication-card-container {
    min-height: 100vh;
}

$card-palette: mat.define-palette(mat.$green-palette, 300);
$input-palette: mat.define-palette(mat.$purple-palette, 100);

.mdc-card {
    background-color: mat.get-color-from-palette($card-palette);
}

.mat-mdc-card-title {
    color: #fff;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: mat.get-color-from-palette($input-palette);
}

.mat-mdc-raised-button.mat-primary {
    background-color: mat.get-color-from-palette($input-palette);
}