<div class="header" *ngIf="authService.isLoggedIn.value">
    <a routerLink="/wallets" class="header_logo">OwnFin</a>

    <div class="header_profile">
        <div class="header_profile_username">
            {{ (userDataService.getUser() | async)?.username }}
        </div>

        <img
            src="/assets/img/user-logo.png"
            alt="person_logo"
            class="header_profile_logo"
        />

        <button mat-icon-button color="primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>
