<div fxLayout="row-reverse" class="wallet-actions" fxLayoutGap="15px">
    <button
        mat-mini-fab
        color="primary"
        (click)="deleteWallet()"
    >
        <mat-icon>delete</mat-icon>
    </button>

    <button
        mat-mini-fab
        color="primary"
        (click)="editWallet()"
    >
        <mat-icon>edit</mat-icon>
    </button>
</div>

<div
    class="wallet-header"
    fxLayout="row"
    fxLayoutAlign="space-around center"
>
    <div>
        <h1 class="wallet-header_name">{{ wallet?.name }}</h1>

        <div class="wallet-header_description">{{ wallet?.description }}</div>
    </div>

    <div class="wallet-header_balance">Баланс: {{ wallet?.balance | currency: 'RUB' }}</div>
</div>

<app-transaction></app-transaction>
