:host {
    display: block;
    margin-top: 25px;
    padding-bottom: 25px;
}

.wallet-actions {
    margin-right: 25px;
    margin-bottom: 10px;
}

.wallet-header {
    margin-bottom: 35px;

    &_name {
        font-weight: bold;
    }

    &_description {
        font-size: 17px;
        font-style: italic;
    }

    &_balance {
        font-weight: 500;
        font-size: 18px;
    }
}
