@use '/src/styles/theme.scss' as theme;

::ng-deep {
    // Календарь
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: theme.$green-color-400;
    }
    .mat-datepicker-content {
        background-color: theme.$green-color;
    }
    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>
    .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        @include theme.purple-background;
    }

    // Выпадашка для селекта
    .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
        @include theme.purple-background;
    }
    .mat-mdc-option .mdc-list-item__primary-text {
        color: #000 !important;
    }

    // Выпадашка для меню
    .mat-mdc-menu-panel {
        background-color: theme.$green-color !important;
    }
    .mat-mdc-menu-content, .mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text {
        color: #fff !important;
    }
}
