<div
    class="card-header"
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="50px"
>
    <div class="card-filter">
        <mat-form-field>
            <mat-label>Выберите даты</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Дата с">
                <input matEndDate formControlName="end" placeholder="Дата по">
            </mat-date-range-input>
            <mat-hint><em>Формат:</em> День.Месяц.Год</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
    </div>

    <button
        mat-fab
        color="primary"
        (click)="createTransaction()"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>

<div *ngFor="let transaction of transactions">
    <div
        class="card-transactions"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div
            class="card-transactions_date"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <span class="card-transactions_date-text">
                {{ transaction.dateCreated | date:'longDate' }}
            </span>
        </div>
    
        <div fxLayout="row" class="transaction">
            <div fxFlex="14" fxLayoutAlign="center center">
                <img
                    src="/assets/img/red_arrow.png"
                    class="transaction_icon"
                    [ngClass]="{ transaction_icon__green: transaction.price > 0 }"
                />
            </div>
            
            <div fxLayout="column" fxFlex="50" fxLayoutGap="7px" class="transaction_block-1">
                <div class="transaction_total-amount"  [ngClass]="{ 'transaction_total-amount__red': transaction.price < 0 }">
                    {{ transaction.price | currency:'RUB' }}
                </div>
    
                <div class="transaction_payment-type">
                    {{ getTransactionPaymentType(transaction.paymentType) }}
                </div>
    
                <div class="transaction_place" fxLayoutGap="0px">
                    {{ transaction.purchasePlace }}
                </div>

                <div class="transaction_description">
                    {{ transaction.description }}
                </div>
            </div>
    
            <div fxLayout="column" fxLayoutAlign="space-around" fxFlex="36" fxLayoutGap="7px" class="transaction_block-2">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    class="transaction_button"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editTransaction(transaction.id!)">
                        <span>Редактировать</span>
                    </button>
                    <button mat-menu-item (click)="removeTransaction(transaction.id!)">
                        <span>Удалить</span>
                    </button>
                </mat-menu>

                <div class="transaction_purpose">
                    {{ transaction?.purpose?.description }}
                </div>
    
                <div class="transaction_price" [ngClass]="{ transaction_price__red: transaction.price < 0 }">
                    {{ transaction.price | currency:'RUB' }}
                </div>
            </div>
        </div>
    </div>
</div>
