<h1 class="wallets_title">
    Кошельки
</h1>

<div
    fxLayout="row wrap"
    fxLayoutGap="20px"
    class="wallets_list"
>
    <a
        *ngFor="let wallet of walletDataService.getWalletList() | async"
        class="wallet"
        fxLayout="column"
        fxFlex="190px"
        [routerLink]="['/wallets', wallet.id]"
    >
        <div class="wallet_balance" fxFlex="10">
            {{ wallet.balance | currency: 'RUB':'symbol-narrow' }}
        </div>
        <div class="wallet_title" fxFlexOffset="5" fxFlex="30">
            {{ wallet.name }}
        </div>
        <div class="wallet_description" fxFlex="50">
            {{ wallet.description }}
        </div>
        <div class="wallet_date" fxFlexOffset="20" fxFlex="10">
            Создан: {{ wallet.dateCreated | date:'longDate' }}
        </div>
    </a>

    <button
        mat-raised-button
        color="primary"
        (click)="createWallet()"
        class="wallet_button"
        fxFlex="190px"
    >
        <i class="material-icons">add</i>
    </button>
</div>
