@use '/src/styles/theme' as theme;

:host {
    display: block;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 450px;
    height: 415px;

    ::ng-deep {
        .mdc-notched-outline {
            &__leading, &__notch, &__trailing {
                @include theme.purple-border;
            }
        }
    
        .mat-mdc-select-value {
            color: #000;
        }
    
        .mat-mdc-select-arrow svg, .mat-mdc-icon-button svg {
            @include theme.purple-color;
        }

        .mat-mdc-raised-button:disabled {
            color: #666666;
            background-color: #cccccc;
        }

        mat-label {
            @include theme.purple-color;
        }
    }
}

.transaction-modal-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
        color: #000;
    }

    &_place, &_description {
        width: 100%;
    }

    &_date {
        width: 50%;
    }
}

.transaction-button {
    margin-top: 10px;
}
