<h1>
    {{ data.type == "create" ? "Создание" : "Редактирование" }} транзакции
</h1>

<form class="transaction-modal-container" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Вид средств</mat-label>
        <mat-select formControlName="paymentType">
            <mat-option *ngFor="let paymentType of data.data.dictionaries.paymentType" [value]="paymentType.value">
                {{ paymentType.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Назначение</mat-label>
        <mat-select formControlName="purposeId">
            <mat-option *ngFor="let purpose of data.data.dictionaries.purpose" [value]="purpose.id">
                {{ purpose.description }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="transaction-modal-container_place">
        <mat-label>Место покупки</mat-label>
        <input formControlName="purchasePlace" matInput placeholder="Введите место покупки...">
    </mat-form-field>

    <mat-form-field appearance="outline" class="transaction-modal-container_description">
        <mat-label>Краткое описание</mat-label>
        <input formControlName="description" matInput placeholder="Введите краткое описание...">
    </mat-form-field>

    <mat-form-field appearance="outline" class="transaction-modal-container_date">
        <mat-label>Дата</mat-label>
        <input formControlName="dateCreated" matInput [matDatepicker]="picker">
        <mat-hint><em>Формат:</em> День.Месяц.Год</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="wallet-modal-container_price">
        <mat-label>Сумма</mat-label>
        <input formControlName="price" matInput placeholder="Введите сумму покупки..." type="number" />
    </mat-form-field>
</form>

<button
    [disabled]="form.invalid"
    mat-raised-button
    color="primary"
    class="transaction-button"
    (click)="onSubmit()"
>
    {{ data.type == "create" ? "Создать" : "Редактировать" }}
</button>
